@using EntityLayer.Concrete
@model List<Reservation>

@{
    ViewData["Title"] = "MyApprovalReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@if (Model.Count == 0)
{
    <h4>Hiç onay bekleyen rezervasyonunuz bulunmamaktadır.</h4>
}
else
{
    <div class="container-fluid py-4">
        <div class="row">
            <div class="col-12">
                <div class="card mb-4">
                    <div class="card-header pb-0">
                        <h6>Onay Bekleyen Rezervasyonlarım</h6>
                    </div>
                    <div class="card-body px-0 pt-0 pb-2   m-3">
                        <div class="table-responsive p-0 text-center">
                            <table class="table align-items-center justify-content-center mb-0">
                                <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">#</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Lokasyon</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Kişi Sayısı</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Rezervasyon Tarihi</th>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder text-center opacity-7 ps-2">Durum</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="">
                                                    <div>
                                                        <img src="@item.Destination.Image" class="avatar avatar-sm rounded-circle me-2" alt="spotify">
                                                    </div>
                                                    @* <div class="my-auto">
                                            <h6 class="mb-0 text-sm">@item.ReservationID</h6>
                                            </div>*@
                                                </div>
                                            </td>
                                            <td>
                                                <p class="text-sm font-weight-bold mb-0">@item.Destination.City</p>
                                            </td>
                                            <td>
                                                <span class="text-xs font-weight-bold">@item.PersonCount</span>
                                            </td>
                                            <td>
                                                <span class="text-xs font-weight-bold">@(((DateTime)item.ReservationDate).ToString("dd-MMM-yyyy"))</span>
                                            </td>
                                            <td>
                                                <span class="text-xs font-weight-bold">@item.Status</span>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}




