@model TraversalCoreProje.Areas.Member.Models.UserEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<div class="content-wrapper-before"></div>
<div class="content-header row">
    <div class="content-header-left col-md-4 col-12 mb-2">
        <h3 class="content-header-title">Profil Düzenleme Sayfası</h3>
    </div>
    <div class="content-header-right col-md-8 col-12">
        <div class="breadcrumbs-top float-md-right">
            <div class="breadcrumb-wrapper mr-1">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="index.html">Ana Sayfa</a>
                    </li>
                    <li class="breadcrumb-item active">
                        Profil Düzenleme Sayfası
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Profil Düzenleme Sayfası</h4>
                <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                <div class="heading-elements">
                    <ul class="list-inline mb-0">
                        <li><a data-action="collapse"><i class="ft-minus"></i></a></li>
                        <li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
                        <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                        <li><a data-action="close"><i class="ft-x"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="card-content collapse show">
                <div class="card-body">
                    <p class="card-text">Profiliniz ile ilgili bilgileri bu sayfadan güncelleyebilirsiniz.</p>
                    <div class="container-fluid py-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="card mb-4">
                                    <div class="card-header pb-0">
                                        <h4>Profil Bilgileriniz</h4>
                                    </div>
                                    <div class="card-body px-0 pt-0 pb-2 m-4">
                                        <form method="post" enctype="multipart/form-data">
                                            @Html.Label("Adınız : ")
                                            <input type="text" asp-for="Name" class="form-control" />
                                            <br />
                                            @Html.Label("Soyadınız : ")
                                            <input type="text" asp-for="Surname" class="form-control" />
                                            <br />
                                            @Html.Label("E-Posta Adresiniz : ")
                                            <input type="text" asp-for="Mail" class="form-control" />
                                            <br />
                                            @Html.Label("Telefon Numarası : ")
                                            <input type="text" asp-for="PhoneNumber" class="form-control" />
                                            <br />
                                            @Html.Label("Şifre : ")
                                            <input type="text" asp-for="Password" class="form-control" />
                                            <br />
                                            @Html.Label("Şifre Tekrar : ")
                                            <input type="text" asp-for="ConfirmPassword" class="form-control" />
                                            <br />
                                            <div class="form-group">
                                                <label>Profil resminizi seçin.</label>
                                                <input type="file" asp-for="Image" />
                                            </div>
                                            <br />
                                            <button class="btn btn-outline-primary">Bilgilerim Güncelle!</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

